<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.net>
    <mailSettings>
      <smtp from="system@metadevdigital.com">
        <network host="mail.metadevdigital.com"
         port="465"
         userName="system@metadevdigital.com"
         password="Shermation5531#"
         enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>